*
  box-sizing: border-box
body
  font-family: 'Lato', sans-serif
  background: #FFFEFD
  color: $primary

.wrapper
  width: 1366px
  margin: 0 auto
  border: 1px solid #99001c
.container
  max-width: 1170px
  margin: auto
.block__title
  text-align: center
  font-family: Rubik
  font-weight: bold
  font-size: 36px
  line-height: 43px
  margin-top: 0px
  margin-bottom: 70px
