.advantages  
  padding-top: 140px
  margin-bottom: 70px
  background-color: #FFFDFB
  position: relative
  .paw 
    position: absolute
    background-image: url(../../img/paw.svg)
    position: absolute
    top: 0
    right: 0
    width: 337px
    height: 314px
  &-block
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__card
    max-width: 370px
    height: 100%
    padding: 30px
    margin-bottom: 20px
    &-icon 
      margin-bottom: 35px
    &-title
      font-family: 'Rubik', sans-serif
      font-weight: 500
      font-size: 22px
      line-height: 120%
      margin-bottom: 20px
    &-description
      font-family: Lato
      font-size: 16px
      line-height: 140%
      width: 290px


