.header 
  background-color: #fff
  padding-top: 12px
  padding-bottom: 12px
  &-top
    color: $primary
    display: flex
    align-items: center
    justify-content: space-between    
  &-menu
    list-style: none
    display: flex
    &__item
      margin-left: 30px  
    &__link
      text-decoration: none
      color: $primary
      font-weight: 600
      font-size: 16px
      line-height: 19px
     
      
  
